<div class="header">
    <div>
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>

        <span>uAssessment</span>
        <button mat-button color="primary">Hai Admin</button>
        <button mat-button color="primary">Assessments</button>
        <button mat-button color="primary">Setting</button>
        <button mat-button color="primary">Logout</button>

    </div>
    <div>
        <span>Latest Assessments</span>
        <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>

        <input type="text" name="" id="">
    </div>
  

</div>
